extends ../layout


block content
    - var ResourceName = 'Schedule'
    - var ResourceUrl = '/schedule'

    // Modal dialog box for editing/adding resource's item:
    .modal.fade(id="modal-form", tabindex="-1", role="dialog")
        .modal-dialog.modal-md
            .modal-content.col-xs-12
                .modal-header
                    button(type="button", class="close", data-dismiss="modal") &times;
                    h3(id="modal-title") #{ResourceName}
                .modal-body.row
                    form(id="form-item").form-horizontal
                        .form-group.col-xs-12
                            .col-xs-2
                                label(for="form-id") Id:
                            .col-xs-10
                                input.form-control(id="form-id", name="_id", disabled, type="text", placeholder="(new)")
                        .form-group.col-xs-12
                            hr
                            .col-xs-6
                                label(for="form-start-date") Start date:
                                input.form-control.datepicker(id="form-start-date", name="startDate", type="text")
                            .col-xs-6
                                label(for="form-end-date") End date:
                                input.form-control.datepicker(id="form-end-date", name="endDate", type="text")
                        .form-group.col-xs-12
                            .col-xs-6
                                label(for="form-start-hour") Start time:
                            .col-xs-6
                                label(for="form-end-hour") End time:
                        .form-group.col-xs-12
                            .col-xs-2
                                input.form-control(id="form-start-hour", name="startHour", type="number", min=0, max=23)
                            .col-xs-2
                                input.form-control(id="form-start-min", name="startMin", type="number", min=0, max=59)

                            .col-xs-2.col-xs-offset-2
                                input.form-control.col-xs-2(id="form-end-hour", name="endHour", type="number", min=0, max=23)
                            .col-xs-2
                                input.form-control.col-xs-2(id="form-end-min", name="endMin", type="number", min=0, max=59)
                        .form-group.col-xs-12
                            hr
                            .col-xs-6
                                label(for="form-slot-size") Slot (m, step by 15):
                            .col-xs-6
                                label(for="form-price") Price:
                        .form-group.col-xs-12
                            .col-xs-3
                                input.form-control(id="form-slot-size", name="slotSize", type="number", min=0, max=60, step=15)
                            .col-xs-3.col-xs-offset-3
                                input.form-control(id="form-price", name="price", type="number", min=0)


                .modal-footer
                    button.btn.btn-primary(id="form-save-btn",type="Button",onclick="saveItem()") Save


    include /partials/confirm-delete-modal

    div(id="alert-placeholder")

    h3 #{ResourceName}
    br
    .btn-group.btn-group-sm
        button.btn.btn-success(onclick="addItem()")
            i.glyphicon.glyphicon-plus  Add
        button.btn.btn-default(id = "btn-reload" onclick="reloadTable()")
            i.glyphicon.glyphicon-refresh  Reload
    br

    //- List template
    table(id="table").table.table-bordered.table-striped

        thead
            tr
                th Start Date
                th End Date
                th Start Time
                th End Time
                th Slot Size
                th Price
                th Actions



append headCss
    include /partials/datatables.css.jade
    include /partials/bootstrap-datepicker.css.jade

append scripts
    include /partials/datatables.js.jade
    include /partials/bootstrap-datepicker.js.jade


    script.
        "use strict;"

        var ResourceName = "!{ResourceName}"
        var ResourceUrl = "!{ResourceUrl}"

        var save_method
        var table
        var item_url

        var anObject = {}

        var strSave = 'Save',
                strOk = 'Ok',
                strEdit = 'Edit',
                strDeleting = 'Deleting ...',
                strAdd = 'Add',
                strSaving = 'Saving ...',
                strReloading = 'Reloading ...',
                strReload = 'Reload'

        // Focus first field in edit modal:
        $('#modal-form').on('shown.bs.modal', function () {
            $('#form-name').focus();
        })

        var ndx = 0

        function showalert(message, alerttype) {
            ndx = ndx + 1
            var alertNdx = 'alertdiv' + ndx.toString()

            $('#alert-placeholder').append('<div id="' + alertNdx + '" class="alert ' + alerttype + '"><a class="close" data-dismiss="alert">&times;</a><span>' + message + '</span></div>')

            setTimeout(function () { // this will automatically close the alert and remove this if the users doesnt close it in 5 secs
                $("#" + alertNdx).remove();
            }, 4500);
        }

        function flashError(msg) {
            showalert(msg, 'alert-danger')
        }

        function flashSuccess(msg) {
            showalert(msg, 'alert-success')
        }

        function resetForm() {
            $('form')[0].reset(); // reset form on modals
            $('.form-group').removeClass('has-error'); // clear error class
            $('.help-block').empty(); // clear error string

        }

        function form_to_json(selector) {
            var ary = $(selector).serializeArray();
            var obj = {};
            for (var a = 0; a < ary.length; a++) obj[ary[a].name] = ary[a].value;
            return JSON.stringify(obj);
        }

        function formatDate(d) {
            return d.getFullYear().toString() + '-' +
                    ("0" + (d.getMonth() + 1)).slice(-2) + '-' +
                    ("0" + d.getDate()).slice(-2)
        }

        function formatDateFromString(dateAsString) {
            return formatDate(new Date(Date.parse(dateAsString)))
        }

        function formatTime( hours, mins ) {
            return ("0" + (hours + 0)).slice(-2) + ':' + ("0" + (mins + 0)).slice(-2)
        }


        $(document).ready( function() {
            // datatable init
            table = $('#table').DataTable({
                "processing": false,
                "searching": false,
                "lengthChange": false,
                "pageLength": 50,
                "info": false,
                "select": false,
                "ajax": {
                    url: ResourceUrl,
                    method: "GET",
                    error: function( xhr, textStatus, error) {
                        flashError( 'Failed to load data from server:' + textStatus )
                    },
                    dataSrc: '',
                    beforeSend: function (xhr, settings) { $("#btn-reload").text(strReloading) },
                    complete:  function (xhr, settings) { $("#btn-reload").text(strReload) }

                },

                "columns": [
                    {   render: function(data,type,row,meta) { return formatDateFromString(row.startDate) } },
                    {   render: function(data,type,row,meta) { return formatDateFromString(row.endDate) } },
                    {   render: function(data,type,row,meta) { return formatTime(row.startHour, row.startMin) } },
                    {   render: function(data,type,row,meta) { return formatTime(row.endHour, row.endMin) } },
                    {   className: "text-right", render: function(data,type,row,meta) { return row.slotSize.toString() + "min" } },
                    {   className: "text-right", render: function(data,type,row,meta) { return row.price.toString() + "р." } },
                    {
                        width: "20%",
                        className: "text-center",
                        render: function(data,type,row,meta) {
                            return "<div class='btn-group btn-group-sm'>" +
                                "<a class='btn btn-sm btn-primary' onclick='editItem(" + '"' + row["_id"] +'"' + ")'><i class='glyphicon glyphicon-pencil'></i> Edit</a>" +
                                    "<a class='btn btn-sm btn-danger' onclick='deleteItem(" + '"' + row["_id"] +'"' + ")'><i class='glyphicon glyphicon-trash'></i> Delete</a>" +
                                    "</div>";
                        }
                    }
                ]
            })

            // datepicker init
            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                weekStart: 1,
                todayBtn: "linked",
                language: "ru",
                orientation: "bottom auto",
                autoclose: true,
                todayHighlight: true
            });
        })


        function editItem(id) {
            save_method = 'POST';
            item_url = ResourceUrl + '/' + id

            resetForm()

            // Load item from server via ajax
            $.ajax({
                url: item_url,
                type: "GET",
                dataType: "JSON",
                success: function (data) {

                    anObject = data

                    // init modal fields:
                    $('#form-id').val(data._id);
                    $('#form-start-date').datepicker('update', formatDateFromString(data.startDate) )
                    $('#form-end-date').datepicker('update', formatDateFromString(data.endDate) )
                    $('#form-start-hour').val(data.startHour)
                    $('#form-start-min').val(data.startMin)
                    $('#form-end-hour').val(data.endHour)
                    $('#form-end-min').val(data.endMin)
                    $('#form-slot-size').val(data.slotSize)
                    $('#form-price').val(data.price)

                    $('#modal-form').modal('show') // show bootstrap modal when complete loaded
                    $('#modal-title').text( strEdit + ' ' + ResourceName) // Set title to Bootstrap modal title

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    flashError('Error get data from server')
                }
            });

        }

        function addItem() {
            save_method = 'POST';
            item_url = ResourceUrl

            resetForm()
            $('#modal-form').modal('show'); // show bootstrap modal
            $('#modal-title').text( strAdd + ' ' + ResourceName); // Set Title to Bootstrap modal title
        }

        function deleteItem(id) {
            item_url = ResourceUrl + '/' + id

            $('#confirm-delete').modal('show'); // show bootstrap modal
        }

        $('#confirm-delete-ok').click( function(){
            var btn = $('#confirm-delete-ok')
            btn.text( strDeleting ); //change button text
            btn.attr('disabled', true); //set button disable

            // ajax delete data on server
            $.ajax({
                url: item_url,
                type: "DELETE",
                dataType: "JSON",
                complete: function (data) {
                    //if success reload ajax table
                    btn.text( strOk )
                    btn.attr('disabled', false) //set button disable

                    $('#confirm-delete').modal('hide') // show bootstrap modal
                    reloadTable()
                    flashSuccess('Item deleted')
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    flashError('Error deleting data');
                }
            });

        })


        function reloadTable() {
            table.ajax.reload()
        }


        function saveItem() {
            var btn = $('#form-save-btn')
            btn.text( strSaving ); //change button text
            btn.attr('disabled', true); //set button disable

            $.ajax({
                url: item_url,
                type: save_method,
                headers: {
                    Accept: "application/json; charset=utf-8",
                    "Content-Type": "application/json; charset=utf-8"
                },
                data: form_to_json('form'),
                dataType: "JSON",
                success: function (data, status) {
                    if (status) //if success close modal and reload ajax table
                    {
                        $('#modal-form').modal('hide')
                        reloadTable()
                        flashSuccess( 'Item saved' )
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    flashError('Error saving data to server')

                },
                complete: function() {
                    btn.text( strSave )
                    btn.attr('disabled', false)
                }
            });
        }
